.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 1.6rem;
  border: 2px solid whitesmoke;
  padding: 8px 12px;
  margin-top: 45px;
  margin-left: 7rem;
}
.header p {
  font-family: "Exo 2", sans-serif;
  letter-spacing: 1px;
  word-spacing: 5px;
  color: whitesmoke;
}

@media (max-width: 1050px) {
  .header {
    margin-left: 2.5rem;
  }
}
@media (max-width: 467px) {
  .header {
    margin-left: 1rem;
  }
}
